

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}
html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.gif-background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center;
    z-index: 20; 
    pointer-events: none; 
    opacity: 1; 
    transition: opacity 1.5s ease;
}
.scroll-overlay-1{
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    z-index: 100;
    filter: blur(12px);
}
.scroll-overlay-2{
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    z-index: 100;
    filter: blur(12px);

}
.scroll-overlay-3{
    position: fixed;
    top: 0;
    width: 100%;
    height: 20%;
    z-index: 100;
    filter: blur(12px);

}
.scroll-overlay-4{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20%;
    z-index: 100;
    filter: blur(12px);

}
.overlay {
    position: fixed;
    color: black;
    background: white;
    z-index: 30;
    pointer-events: none; 
}

.overlay h4 {
    font-size: clamp(1.1rem, 2vw, 1.5rem); 
    text-align: center; 
    padding: 15px; 
}



@media screen and (min-width: 769px) {
    .gif-background {
        background-image: url('/cursor.gif');
    }
}

.top-left {
    top: 40px;
    left: 20px;
}
.top-left-center{
    top: 35%;
    left: 20px;
    transform: translateY(-40%);
}

.center-left {
    top: 65%;
    left: 20px;
    transform: translateY(-50%);
}

.bottom-left {
    bottom: 20px;
    left: 20px;
}

.top-right {
    top: 40px;
    right: 20px;
}
.bottom-center-right{
    top: 65%;
    right: 20px;
    transform: translateY(-50%);
}

.center-right {
    top: 35%;
    right: 20px;
    transform: translateY(-40%);
}


.bottom-right {
    bottom: 20px;
    right: 20px;
}

.top-center {
    top: 10px;
    left: 50%;
    transform: translateX(-50%) ;
    padding: 20px; 
}

@media screen and (max-width: 968px) {
    .gif-background {
        background-image: url('/hand.gif');
    }

    .overlay {
        text-align: center;
        color: #fff;
        background: none;
    }
 
    .overlay h4 {
        font-size: clamp(0.9rem, 3vw, 1.3rem);
        padding: 5px;
    }
    .top-center{
        text-wrap: wrap;
        width: 100%;
        font-size: clamp(.6rem, .5vw, 1.1rem); 
    }
    .top-left,
    .top-right
    {
        top: 19%;
    }
    .top-left-center,
    .bottom-center-right
    {
        top: 25%;
    }


    .center-left,
    .center-right {
        top: 75%;
   
    }

    .bottom-left,
    .bottom-right {
       top: 79%;
    }
}
